/* font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;*/
{
    box-sizing: border-box ;
}
//*WHY THIS IS AWESOME*//
.section {
    padding:  0; //*body*//


}

.section.bg-gray {
    background: #f5f5f5;
}

.section-process,
.section-pricing {
    text-align: center;
}

.contener {
    max-width: 1120px;
    padding: 0 15px;
    width: 100%;
    margin: auto;


}

.main {
    display: flex;
    flex-direction: row;

}

.columm {
    width: 33.3%;

}

.process-main .columm {
    padding: 0 15px;
}

.title-section {
    padding: 80px;
}

.title-section h3 {
    font: 36px 'Raleway', sans-serif;
    color: #212121;
    text-transform: uppercase;
}

.title-section h3:after {
    content: "";
    display: block;
    background: #ff8b38;
    width: 64px;
    height: 2px;
    margin: 30px auto 30px;
}

.title-section p {
    font: 14px/1.4 'Open Sans', sans-serif;
    color: #86878b;
}

.process-main{
    margin: 0 -15px;
}

.process-main .icon {
    width: 70px;
    height: 70px;
    border: 2px solid #ff8b38;
    margin: 0 auto 24px;
    border-radius: 50%;
    color: #ff8b38;
    font-size: 32px;
    display: flex;

}

.process-main .icon i {
    margin: auto
}

.process-main h4 {
    font: 700 20px 'Open Sans', sans-serif;
    color: #333333;
    margin-bottom: 23px;

}

.process-main p {
    font: 14px/1.4 'Open Sans', sans-serif;
    color: #86878b;
}

.pricing-main{

}
.pricing-main ul.plan-name{

}
.pricing-main li.plan-price{

}
.pricing-main li.plan-deacription{}
.pricing-main li.plan-field{}
.pricing-main li.plan-popular{}